:root {
    --primary-color: #FF6C00;
    --secondary-color: #303030;
    --font-title-color: #FFFFFF;
    --font-p-color: #9DA4BD;
}

html, body {
    font-family: "Open Sans", serif;
}

.container {
    position: relative;
    overflow: hidden;
    width: 1280px;
    margin: 0 auto;
    border: 1px solid red;
}

header {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 1280px;
    height: 680px;
}

header .sol-header {
    position: relative;
    overflow: hidden;
    width: 155px;
    height: 680px;
}

header .sol-header .logo {
    position: relative;
    display: inline-block;
    margin-left: 55px;
    margin-top: 32px;
}

header .sol-header .sosyal-medya-link {
    transform: rotate(-90deg);
    position: absolute;
    bottom: 170px;
    width: 200px;
    width: 300px;
    left: -70px;
}

header .sol-header .sosyal-medya-link span {
    display: inline-block;
    height: 1px;
    width: 60px;
    background-color: var(--secondary-color);
    vertical-align: middle;
    margin-right: 20px;
}

header .sol-header .sosyal-medya-link a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: var(--secondary-color);
    margin-right: 20px;
}

header .sol-header .sosyal-medya-link a:hover {
    color: var(--primary-color);
}

header .sag-header {
    border: 1px solid red;
    width: 1125px;
    background: url("../images/slider-bg-1.jpg");
    display: flex;
    flex-direction: column;
    color: var(--font-title-color);
}

header .sag-header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 60px;
    padding-left: 60px;
    margin-top: 40px;
}

header .sag-header .nav ul {
    display: flex;
    gap: 0 40px;
}

header .sag-header .nav ul li {
    list-style-type: none;
}

header .sag-header .nav ul li a.active {
    color: var(--primary-color);
}

header .sag-header .nav ul li a {
    color: var(--font-title-color);
    text-decoration: none;
    font-size: 12px;
}

header .sag-header .nav .info {
    display: flex;
    gap: 0 40px;
    align-items: center;
}

header .sag-header .nav .info address {
    font-size: 12px;
}

header .sag-header .nav .info .info-btn {
    border: 1px solid var(--primary-color);
    background-color: transparent;
    font-size: 12px;
    padding: 12px 25px;
    color: var(--font-title-color);
    border-radius: 25px;
}






